{% extends 'base.html' %}

{% block content %}
  <h1>TODO list</h1>
  <a href="{% url 'list:task-add' %}" class="btn btn-primary">Add task</a>
  <ul>
    {% if tasks %}
      {% for task in tasks %}
        <li>
          <strong>{{ task.content }}
          </strong> {{ task.done|yesno:"Done,Not done" }}
          <a href="{% url 'list:task-update' task.id %}" class="btn btn-secondary link-to-page"">Update</a>
          <br>
          Created: {{ task.created_at }}<br>
          {% if task.deadline %}Deadline: {{ task.deadline }}<br>{% endif %}
          Tags: {% for tag in task.tags.all %}{{ tag.name }} {% endfor %}
          {% if task.is_done %}
            <a href="{% url 'list:toggle-status' task.id %}">Undo</a>
          {% else %}
            <a href="{% url 'list:toggle-status' task.id %}">Complete</a>
          {% endif %}
        </li>
      {% endfor %}
    {% else %}
      <p>No tags</p>
    {% endif %}
  </ul>
{% endblock %}
